<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<style type="text/css">
			img {
				width: 100%;
			}
			
			.tabFixed {
				position: fixed;
				z-index: 999999;
				top: 40px;
				background: #efeff4;
			}
			
			#segmentedControls {
				height: 100%;
				overflow-y: auto;
			}
		</style>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
		</script>
	</head>

	<body id="app">
		<header class="mui-bar mui-bar-nav mui-bar-custom">
			<button class="mui-action-back mui-btn  mui-btn-link mui-btn-link-custom mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-custom mui-icon-arrowleft"></span><span class="color-white">返回</span>
			</button>
			<h1 class="mui-title mui-title-custom">海底捞火锅店的东西</h1>

			<button class="mui-btn  mui-btn-link mui-pull-right">
				<span class="mui-icon iconfont icon-order mui-icon-custom">
					<span class="mui-badge">9</span>
				</span>
			</button>

		</header>
		<div class="mui-content">
			<p>
				<img src="images/yuantiao.jpg" id="shopImg" />
				<div style="background: #EE8461; color: #fff; padding: 12px 0px;text-align: center; margin-top: -17px;">有名的海底捞火锅店，百年老店</div>
			</p>

			<div id="slider" class="mui-slider">
				<div id="tabs" class="">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item mui-btn-link" href="#item1mobile">
							所有菜品<span class="mui-icon  mui-icon-bars color-custom" id="foodType" v-on:tap="foodTypes()"></span>
						</a>
						<a class="mui-control-item" href="#item2mobile">
							所有酒水<span class="mui-icon  mui-icon-bars color-custom" id="drinksType" style="display: none;" v-on:tap="drinksTypes()"></span>
						</a>
					</div>

					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>

				</div>

				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div class="content">
							<ul class="mui-table-view margin5-tb" v-for="f in foods">
								<li class="mui-table-view-cell mui-media">
									<img class="mui-media-object mui-pull-left " style="max-width: 100px;width: 100px;height: 75px;" src="images/shuijiao.jpg">
									<div class="mui-media-body">
										<span class="shop-title mui-ellipsis">{{f.name}}</span>
										<span class="mui-icon mui-icon-more mui-pull-right" v-on:tap="more(f)"></span>
										<h5 class="margin5-t">口味略辣，适合喜欢辣的妹子吃</h5>
										<p class="mui-h4 color-custom margin10-t">￥23</p>
									</div>
								</li>
								<li class="mui-table-view-cell mui-text-center">
									<a href="#" style="color: #EE8461"> <span class="mui-icon mui-icon-plusempty"></span> 加入订单</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="content" v-for="d in drinks">
							<ul class="mui-table-view margin15-b">
								<li class="mui-table-view-cell mui-media">
									<img class="mui-media-object mui-pull-left " style="max-width: 100px;width: 100px;height: 75px;" src="images/shuijiao.jpg">
									<div class="mui-media-body">
										<span class="shop-title mui-ellipsis">{{d.name}}</span>
										<span class="mui-icon mui-icon-more mui-pull-right" v-on:click="more(d)"></span>
										<h5 class="margin5-t">口味略辣，适合喜欢辣的妹子吃</h5>
										<p class="mui-h4 color-custom margin10-t">￥23</p>
									</div>
								</li>
								<li class="mui-table-view-cell mui-text-center">
									<a href="#" style="color: #EE8461"> <span class="mui-icon mui-icon-plusempty"></span> 加入订单</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div style="padding: 10px;background:#F5F5F5 ; border-top: 1px solid #E8E8ED; position: fixed; bottom: 0; width: 100%;">
				<div class="mui-pull-left" style="font-size: 18px; margin-top: 10px;">共 35 元</div>
				<button class="mui-btn btn-custom mui-pull-right">选好了</button>
			</div>
		</div>

		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app/shop.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			(function($) {
				var foodType = document.getElementById('foodType');
				var drinksType = document.getElementById('drinksType');
				var shopImg = document.getElementById('shopImg');
				var tabs = document.getElementById('tabs');
				var mainContent = document.body.querySelector('#content');
				window.addEventListener('scroll', function(e) {
					var top = document.documentElement.scrollTop || document.body.scrollTop;
					//top == 235
					if (top > shopImg.height) {
						tabs.setAttribute('class', 'tabFixed');
					} else {
						tabs.setAttribute('class', '');
					}
				});
				document.getElementById('slider').addEventListener('slide', function(e) {
					if (e.detail.slideNumber === 0) {
						foodType.style.display = '';
						drinksType.style.display = 'none';
					} else if (e.detail.slideNumber === 1) {
						drinksType.style.display = '';
						foodType.style.display = 'none';
					}
				});
			})(mui);
		</script>
	</body>

</html>